/* ===== PRICING ===== */

.pricing-grid {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.price-card {
    background: #16162A;
    padding: 30px;
    width: 32%;
    border-radius: 8px;
    text-align: center;
}

.price-card h2 {
    color: #FF6B35;
}

.price {
    font-size: 24px;
    font-weight: 700;
    margin: 15px 0;
}

/* Адаптивность */

@media (max-width: 992px) {
    .price-card {
        width: 48%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .pricing-grid {
        flex-direction: column;
    }

    .price-card {
        width: 100%;
    }
}